@font-face {
	font-family: "Comfortaa";
	src: url("../fonts/Comfortaa-Regular.ttf");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Comfortaa";
	src: url("../assets/fonts/Comfortaa-Light.ttf");
	font-weight: lighter;
	font-style: normal;
}

@font-face {
	font-family: "Comfortaa";
	src: url("../fonts/Comfortaa-Bold.ttf");
	font-weight: bold;
	font-style: normal;
}
:root {
	--blue-400: #60a5fa;
	--blue-600: #2563eb;
	--slate-400: #94a3b8;
	--slate-500: #64748b;
	--blur: 0px 0px 25px rgba(0, 0, 0, 0.1);
}
body {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Comfortaa", sans-serif;
	font-weight: normal;
}
.container {
	max-width: 1200px;
	margin: auto;
	gap: 100px;
	display: flex;
	flex-direction: column;
}
.hero {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	padding: 50px 0;
	align-items: center;
}

.hero-image {
	width: 100%;
	height: 400px;
	background: grey;
}
.hero-content {
	font-size: 45px;
	padding: 0 50px;
}
.hero-content span {
	color: var(--blue-600);
}
.selling-point {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	max-width: 1200px;
	gap: 50px;
}
.selling-point-title p {
	font-size: 14px;
	color: black;
}
.selling-point-title h1 {
	font-size: 24px;
	color: var(--blue-600);
}
.selling-point-card-container {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 50px;
}
.selling-point-card {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 40px 50px;
	border: 1px solid var(--blue-600);
	border-radius: 25px;
	gap: 50px;
}

.sp-img-container {
	width: 100px;
	height: 100px;
	border-radius: 25px;
	border: 1px solid var(--blue-600);
	display: flex;
	justify-content: center;
	align-items: center;
}
.selling-point-card img {
	height: 30px;
	width: auto;
}

.sp-header h1 {
	font-size: 20px;
	color: var(--slate-500);
}

.sp-header p {
	font-size: 14px;
	color: var(--slate-400);
}

.selling-point-card a {
	padding: 10px 25px;
	border-radius: 15px;
	border: 1px solid var(--blue-600);
	background: none;
	color: var(--slate-500);
	cursor: pointer;
}
.property {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	max-width: 1200px;
	gap: 50px;
}
.property-title p {
	font-size: 14px;
	color: black;
}

.property-title h1 {
	font-size: 24px;
	color: var(--blue-600);
}

.property-card-container {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 50px;
}

.property-card {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border-radius: 25px;
	box-shadow: var(--blur);
	overflow: hidden;
}

.property-image {
	width: 100%;
	height: 200px;
	position: relative;
}

.property-image img {
	width: 100%;
	height: 100%;
	background: gray;
}

.property-image .model {
	padding: 10px 15px;
	font-size: 16px;
	position: absolute;
	top: 15px;
	right: 15px;
	z-index: 2;
	color: white;
	background: var(--blue-400);
	border-radius: 10px;
}

.property-content {
	width: 100%;
	font-weight: bold;
}

.p-detail {
	display: flex;
	justify-content: space-between;
}

.p-price {
	color: var(--blue-600);
}

.p-location {
	display: flex;
	gap: 10px;
	align-items: center;
	color: var(--slate-400);
}

.p-location img {
	width: 24px;
	height: auto;
}

.p-rooms {
	display: flex;
	justify-content: space-between;
	color: var(--slate-400);
}

.p-rooms img {
	width: 24px;
}

.p-bathroom,
.p-bedroom,
.p-sf {
	display: flex;
	align-items: center;
	gap: 10px;
}

.divider {
	width: 100%;
	height: 1px;
	background: var(--slate-400);
	margin: 20px 0;
}

.p-owner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.owner-detail {
	display: flex;
	align-items: center;
	gap: 10px;
}

.owner-detail img {
	height: 40px;
	width: 40px;
	background: gray;
	border-radius: 50%;
	overflow: hidden;
}

.feedback-icon {
	display: flex;
	align-items: center;
	gap: 10px;
}

.feedback-icon img {
	width: 24px;
}
