@font-face {
	font-family: "Comfortaa";
	src: url("../fonts/Comfortaa-Regular.ttf");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Comfortaa";
	src: url("../assets/fonts/Comfortaa-Light.ttf");
	font-weight: lighter;
	font-style: normal;
}

@font-face {
	font-family: "Comfortaa";
	src: url("../fonts/Comfortaa-Bold.ttf");
	font-weight: bold;
	font-style: normal;
}

body {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Comfortaa", sans-serif;
	font-weight: bold;
}
